[submodule ".registry"]
	path = .registry
	url = https://github.com/lvclark/universe
	branch = HEAD
[submodule "plotly.microbiome"]
	path = plotly.microbiome
	url = https://github.com/HPCBio/plotly_microbiome
[submodule "polyRAD"]
	path = polyRAD
	url = https://github.com/lvclark/polyRAD
[submodule "polyRADtutorials"]
	path = polyRADtutorials
	url = https://github.com/lvclark/polyRADtutorials
[submodule "polysat"]
	path = polysat
	url = https://github.com/lvclark/polysat
